@import 'produit_sass/styles';

.continue_btn {
  width: 200px;
  margin: auto;
}

.cart_heading {
  margin-left: 2em;
}

#send_cart_by_mail {
  margin-top: 35px;
}

.dropdownSelectedQuantityList {
  opacity: 0;
  position: absolute;
  z-index: 2147483648;
  visibility: hidden;
  width: 2em;
  padding: 0.5em;
  cursor: pointer;
  background-color: #fff;
}

.dropdownSelectedQuantityList.active {
  opacity: 1;
  margin-top: 22px;
  visibility: visible;
}
