<div class="text">
  <div class="table">
    <ul class="horizontal-list">
      <li>
        <a class="fb icon" href="https://www.facebook.com/ThisisYjewelry-1735514419791954/" target="_blank" rel="noopener">
          <img src="./../../assets/img/Facebook.svg" />
        </a>
      </li>
      <li>
        <a class="instagram icon" href="https://www.instagram.com/thisisyjewelry/" target="_blank" rel="noopener">
          <img src="./../../assets/img/Instagram.svg" />
        </a>
      </li>
      <li>
        <a class="twitter icon" href="https://twitter.com/thisisyjewelry" target="_blank" rel="noopener">
          <img src="./../../assets/img/Twitter.svg" />
        </a>
      </li>
      <li>
        <a class="pinterest icon" href="https://www.pinterest.com/thisisyjewelry" target="_blank" rel="noopener">
          <img src="./../../assets/img/Pinterest.svg" />
        </a>
      </li>
      <li>
        <a class="google icon" href="https://www.roposo.com/profile/yjewelry/af274109-1ee0-4ffc-b500-c0dfd0cd165f?query=USER_@yjewelry&amp;num=0&amp;entityID=af274109-1ee0-4ffc-b500-c0dfd0cd165f"
          target="_blank" rel="noopener">
          <img src="./../../assets/img/Social-network.svg" />
        </a>
      </li>
    </ul>
  </div>
</div>
