/* *** Grayscale mixin *** */
@mixin grayscale_element($value) {
  -webkit-filter: #{"grayscale(#{$value})"};
  -moz-filter: #{"grayscale(#{$value})"};
  filter:#{"grayscale(#{$value})"};
}

/* *** buttons *** */
@mixin rounded-btn($bgcolor, $txtcolor) {
	background-color: $bgcolor;
	color: $txtcolor;
	height: 38px;
	line-height: 38px;
	width: 100%;
	display: block;
	@include border-radius(20px);
	border: none;
	cursor: pointer;
	text-align: center;

	&:hover {
		color: $bgcolor;
		background-color: $txtcolor;
		text-decoration: none;
	}
}

@mixin form-style() {
	.form-item {
	    margin: 1.5em 0;
	}
	label {
	    display: block;
	    font-weight: bold;
	}
	.form-required {
	    color: #c00;
	}
	.erreur_return_msg {
	
	}
	input[type="text"], input[type="password"] {
	    height: 29px;
	}
	input {
	    padding-left: 12px;
	}
	input, select {
	    background-color: $color3;
	    border: none;
	    margin: 6px 0;
	    line-height: 29px;
	}
	button, input, select, textarea {
	    font-family: inherit;
	    font-size: 100%;
	    vertical-align: baseline;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}
	.btn-file {
	    position: relative;
	    overflow: hidden;
	    background-color: $color7;
	    padding: 10px 30px;
	    display: inline-block; 
	    text-transform: uppercase;
	    margin: 3% 0;
	    margin-left: 6%;
	    margin-right:6%;
	    padding-left:  45px !important;
	    padding-right:  45px !important;
	    padding-top:7px;
	    color: #ffffff !important;
	    font-size: 1.1em !important;
	    text-transform: uppercase;
	    height: 35px !important;
	    font-weight: bold;
	}
	.btn-file input[type=file] {
	    position: absolute;
	    top: 0;
	    right: 0;
	    min-width: 100%;
	    min-height: 100%;
	    font-size: 100px;
	    text-align: right;
	    filter: alpha(opacity=0);
	    opacity: 0;
	    outline: none;
	    background: white;
	    cursor: inherit;
	    display: block;

	}
	.form-item .description {
	    font-size: 0.85em;
	}
	.description {
	    padding: 10px;
	    background-color: #9898CE;
	    color: #fff;
	    display: none;
	    position: absolute;
	    right: 20px;
	    z-index: 9999;
	}
	input[type="submit"] {
	    background-color: $color5;
	    padding: 10px 30px;
	    color: $white-color;
	    font-size: 1.2em;
	    text-transform: uppercase;
	    margin: 3% 0;
	}

}

/* *** Placeholder Color *** */
@mixin placeholder-color($color) {
	&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $color;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: $color;
		opacity: 1;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: $color;
		opacity: 1;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: $color;
	}
	&:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
		color: $color;
	}
}
