@font-face {
  font-family: BelweSansLight;
  src: url(/assets/fonts/BelweSans-Light.otf);
}

@font-face {
  font-family: Apercu;
  src: url(/assets/fonts/Apercu.otf);
}

@font-face {
  font-family: Belvue;
  src: url(/assets/fonts/BelweSans-Light.otf);
}
