/* *** Couleurs de texte *** */
$white-color: #ffffff;

$txt-color1: #090954;
$txt-color2: #bbd1ea;
$txt-color3: #f9f4ef;

/* *** Backgrounds *** */
$body-bg: #f9f4ef;

$bg-color1: $txt-color1;
$bg-color2: $txt-color2;
$bg-color3: $txt-color3;

/* *** Border *** */
$border-color1: $txt-color1;
$border-color2: $txt-color2;
$border-color3: $txt-color3;
