<footer id="idFooter">
  <div class="content-footer" style="text-align:center;">
    <div class="element-footer cash-on-delivery" [hidden]="!(showAll == true || showElementFooter==1)">
      <div class="icon"></div>
      <div class="titre">Check your Delivery</div>
      <div class="text">Enter your postal code to check availability in your city:</div>
      <div class="input-container">
        <input type="text" placeholder="Postal code" [hidden]="postalCodeInput" />
        <p [hidden]="checkFlag(postalCodeMsg)">Cash on delivery is available!</p>
        <p [hidden]="checkFlag(postalCodeMsg)">PrePaid delivery is available!</p>
        <p [hidden]="!postalCodeInput&&postalCodeMsg==0">Sorry, delivery is unavailable</p>
        <button (click)="checkPostalCode()">ok</button>
      </div>
    </div>
    <div class="element-footer secure-payment" [hidden]="!(showAll == true || showElementFooter==2)">
      <div class="icon"></div>
      <div class="titre">100% Secured Payments</div>
      <div class="text">Take your time, shop safely and securely. All transactions processed on our website are secured by PayU.</div>
    </div>
    <div class="element-footer fast-delivery" [hidden]="!(showAll == true || showElementFooter==3)">
      <div class="icon"></div>
      <div class="titre">fast delivery</div>
      <div class="text">Place an order today before 1pm and be sure to receive your order within 48h</div>
    </div>
    <div class="element-footer a-question" [hidden]="!(showAll == true || showElementFooter==4)">
      <div class="icon"></div>
      <div class="titre">A question?</div>
      <div class="text">
        <span>We would be glad to help ! Feel free to contact us at contact@y.jewelry</span>
      </div>
    </div>

    <div class="switch-footer-slide" [hidden]="!showULFooter">
      <ul>
        <li [ngClass]="{'active':showElementFooter==1}" (click)="showElementFooter=1">1</li>
        <li [ngClass]="{'active':showElementFooter==2}" (click)="showElementFooter=2">2</li>
        <li [ngClass]="{'active':showElementFooter==3}" (click)="showElementFooter=3">3</li>
        <li [ngClass]="{'active':showElementFooter==4}" (click)="showElementFooter=4">4</li>
      </ul>
    </div>
  </div>
</footer>
