/* *** Couleurs de texte *** */
$txt-default-color: #706f6f;
$white-color: #ffffff;
$color1: #9999cf; /*Violet Claire*/
$color2 : #595997; /*Violet Fonce*/
$color3 : #F7F7F7;
$color4 : #666666;
$color5 :#595799;
$color6: #737699;
$color7 : #4a4e67;
$color8 : #dddddd;
$color9 : #dbdbdb;
$color10: #383838;
$color11 : #e3e3e3;
$color12: #7078cc;
$color13: #8369d1;
$color14: #40a4d7;
$color15: #53c4cf;
$color16: #ffab19;
$color17: #5ccc83;
$color18: #f1f1f1;
$color19: #ca2853;
$color20 : #616161;
$color21 : #997030;
$color22: #d75d58;
$color23: #6ba37e;